{% extends 'authenticate/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change pass</title>
</head>
<body>

{% block content %}

<h2 class="text-center">Edit profile</h2>

    <form method="POST" action="{% url 'change_pass' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>Your form has errors</p>
        {% endif %}

        {{ form.as_p }}

        <input type="submit" value="Change password" class="btn btn-secondary">
    </form>

{% endblock %}
</body>
</html>